.header {
    background-color: #ffffff;
    border-bottom: 1px solid #eaecf0;
}

.nav {
    position: relative;
    max-width: 1312px;
    height: 72px;
    margin: 0 auto;
    padding: 0 64px;

    display: flex;
    align-items: center;
}


.logo {
    font-size: 18px;
    font-weight: 800;
    color: #101828;
}

.accent {
    color: #475467;
}


.links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 32px;
}

.link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #101828;
    transition: color 0.2s ease;
}

.link:hover {
    color: #d84343;
}

.active {
    color: #d84343;
}