.geroy {
    width: 100%;
    height: 696px;
    background-image: url("../../assets/images/hero-gb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}