.geroy {
    position: fixed;
    inset: 0;
    z-index: -1;
    color: #F7F7F7;
    background-image: url("../../assets/images/hero-gb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


.wrap {
    box-sizing: border-box;
    padding-top: 260px;
    padding-left: 64px;
    width: 1440px;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
}

.mainText {
    font-size: 48px;
    font-weight: 600;
    line-height: 32px;

}

.geroyDesc {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.heroyBtn {
    color: #F7F7F7;
}